
	<div class = "row header">
		<h1>Search Items Database</h1>
	</div>
<div class = "row">
	<div class="col-md-offset-1 col-md-4">
	  
	    <%= form_tag(do_search_items_path, method: "get", role: "form", class: "form") do %>
	      <div class="form-group">
	        <label class="control-label">And/Or:</label>
	        <%= select_tag(:all_some, options_for_select([['match all conditions', 1], ["match some", 2]]), class: "form-control") %>
	      </div>
	      <div class="form-group">
	        <label>Category:</label>
	        <%= select_tag(:category_id, options_for_select(@categories), class: "form-control") %>
	      </div>
	    </div>
	    <div class = "col-md-offset-1 col-md-5">
	      <div class="form-group">
	        <label>Title</label>
	        <%= text_field_tag(:title, "", class: "form-control") %>
	      </div>
	      
	      <div class="form-group">
	        <label>Description</label>
	        <%= text_field_tag(:description, "", class: "form-control") %>
	      </div>
	      
	      <div class="form-group">
	        <label>Owner</label>
	        <%= text_field_tag(:owner, "", class: "form-control") %>
	      </div>
	      <div >
	      	<%= submit_tag "Search", class: "btn btn-large" %>
	      	<span ></span>
	      </div>
	    <% end %>
	</div>
</div>